@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 14 165 233;
    --color-accent: 217 70 239;
    --color-dark: 15 23 42;
    --color-success: 34 197 94;
    --color-error: 239 68 68;
    --color-warning: 245 158 11;
    --font-sans: "Inter", system-ui, sans-serif;
  }

  * {
    @apply border-dark-200;
  }

  body {
    @apply bg-dark-900 text-dark-50 font-sans antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
